<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [defaultHref]="['/admin','tabs','home',crop.name,'animal-intervention']"
      ></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="isLoading">Loading Edit .....</ion-title>
    <ion-title *ngIf="!isLoading">{{intervention.interventionName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <form
          [formGroup]="form"
          (ngSubmit)="SubmittedForm()"
          enctype="multipart/form-data"
          class="list"
        >
          <ion-item lines="none">
            <ion-label position="floating">Intervention Name</ion-label>
            <ion-input
              type="text"
              lines="none"
              formControlName="interventionName"

            ></ion-input>
          </ion-item>
          <ion-item *ngIf="form.get('interventionName').inValid" lines="none">
            <p>Please Enter Intervention Name</p>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">About Intervention</ion-label>
            <ion-textarea
              type="text"
              lines="none"
              formControlName="about"
              rows="5"
            ></ion-textarea>
          </ion-item>
          <ion-item *ngIf="form.get('about').inValid" lines="none">
            <p>Please Enter about Intervention</p>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">why Is Important</ion-label>
            <ion-textarea
              type="text"
              rows="5"
              formControlName="whyIsImportant"
            ></ion-textarea>
          </ion-item>
          <ion-item *ngIf="form.get('whyIsImportant').inValid" lines="none">
            <p>Please Enter WhyIsImportant</p>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">what Id Does</ion-label>
            <ion-textarea
              type="text"
              rows="5"
              formControlName="whatIdDoes"
            ></ion-textarea>
          </ion-item>
          <ion-item *ngIf="form.get('whatIdDoes').inValid" lines="none">
            <p>Please Enter WhatIdDoes</p>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">why And Where It Occours</ion-label>
            <ion-textarea
              type="text"
              rows="5"
              formControlName="whyAndWhereItOccours"
            ></ion-textarea>
          </ion-item>
          <ion-item
            *ngIf="form.get('whyAndWhereItOccours').inValid"
            lines="none"
          >
            <p>Please Enter WhyAndWhereItOccours</p>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">how To Identify</ion-label>
            <ion-textarea
              type="text"
              rows="5"
              formControlName="howToIdentify"
            ></ion-textarea>
          </ion-item>
          <ion-item *ngIf="form.get('howToIdentify').inValid" lines="none">
            <p>Please Enter HowToIdentify</p>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">how To Manage</ion-label>
            <ion-textarea
              type="text"
              rows="5"
              formControlName="howToManage"
            ></ion-textarea>
          </ion-item>
          <ion-item *ngIf="form.get('howToManage').inValid" lines="none">
            <p>Please Enter HowToManage</p>
          </ion-item>

          <ion-row class="btn-row">
            <ion-col size-md="8" offset-md="2">
              <ion-item lines="none">
                <ion-input
                  class="file"
                  type="file"
                  #filePicker
                  (change)="uploadfile($event)"
                ></ion-input>
              </ion-item>
              <ion-item
                *ngIf="imagePreview && imagePreview !== '' && form.get('image').valid"
                lines="none"
              >
                <img [src]="imagePreview" [alt]="form.value.image" />
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size-md="8" offset-md="2">
              <ion-button
                type="submit"
                color="success"
                expand="full"
                [disabled]="!form.valid"
                >Updated</ion-button
              >
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
