img{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.list{
    margin-top: 20px;
    ion-text{
        font-size: 1.4rem;
    }
}

ion-button{
    margin-top: 20px;
    height: 50px;
    font-size: 1.2rem;
}

