.list{
   
    ion-label{
        font-size: 1.4rem;
    }
    ion-input{
        font-size: 1.4rem;
    }
    ion-button{
        margin-top: 20px;
        height: 50px;
        font-size: 1.2rem;
    }
  }