.weather {
  background-color: lightblue;
  width: 500px;
  height: 200px;
  border-radius: 25px;
  color: black;
}

ion-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.crop-card {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 0px;
}

ion-col {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}


.crop-card {
  width: 100px;
  height: 150px;
  text-align: center;
  ion-img {
    width: fit-content;
    object-fit: cover;
    height: 100px !important;
  }

}




.weather-row {
  ion-col {
    ion-card {

      background-color: lightblue;
    }
  }
}


.crop-card-row {
  padding: 0% !important;
  margin: 0% !important;

  ion-col {
    ion-card-title {
      font-size: 15px auto !important;
    }
  }
}

