<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button >
    </ion-buttons>
    <ion-title >Add Tip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid >

    <ion-row>
      <ion-col>
        <ion-img [src]="crop.img"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col>
        <form (ngSubmit)="submittedForm(formDetails)" #formDetails="ngForm">
          <ion-list>
            <ion-item>
              <ion-label  position="floating">
                <h1>Enter Crop Tip</h1>
              </ion-label>
              <ion-textarea name="information" type="text" required   lines="none" ngModel #information="ngModel"></ion-textarea>
            </ion-item>
            <ion-item *ngIf="!information.valid && information.touched" lines="none">
              <p>Please Enter the  information</p>
            </ion-item>

            <ion-item>
              <ion-select>
                <ion-option value="Sowing_tips">Sowing tips</ion-option>
                <ion-option value="Tips_for_choosing">Tips for choosing what to grow</ion-option>
              </ion-select>
            </ion-item>




              <ion-button type="submit" size="large" fill="solid"  expand="block" color="primary"  [disabled]="!formDetails.valid">Add Tip</ion-button>
          </ion-list>
        </form>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
